<div class="quick-links">
  {% capture url_syllabus %}{% include material_url.html key="syllabus" %}{% endcapture %}
  {% capture url_cheatsheet %}{% include material_url.html key="cheatsheet" %}{% endcapture %}
  <a class="quick-link-card" href="{{ url_syllabus | strip }}">
    <span class="quick-link-card__label">Syllabus</span>
    <span class="quick-link-card__hint">Spring 2026</span>
  </a>
  <a class="quick-link-card" href="{{ url_cheatsheet | strip }}">
    <span class="quick-link-card__label">Cheat sheet</span>
    <span class="quick-link-card__hint">GIS reference PDF</span>
  </a>
  <a class="quick-link-card" href="#materials">
    <span class="quick-link-card__label">Weekly materials</span>
    <span class="quick-link-card__hint">Slides, labs, homework</span>
  </a>
  <a class="quick-link-card" href="#recordings">
    <span class="quick-link-card__label">Lab recordings</span>
    <span class="quick-link-card__hint">Video walkthroughs</span>
  </a>
  <a class="quick-link-card" href="#software">
    <span class="quick-link-card__label">Software</span>
    <span class="quick-link-card__hint">QGIS, R, GeoDa</span>
  </a>
  <a class="quick-link-card" href="https://meet.google.com/kvt-cwti-ehs">
    <span class="quick-link-card__label">TA office hours</span>
    <span class="quick-link-card__hint">Fri 10 AM – 12 PM</span>
  </a>
</div>
